.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.addProduct {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.input {
  flex: 1;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button {
  padding: 8px 20px;
  background-color: rgba(36, 24, 8, 0.765);
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: rgb(36, 24, 8);
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.th,
.td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.th {
  background-color:rgba(36, 24, 8, 0.765);
  color: white;
}

.tr:hover {
  background-color: rgba(36, 27, 14, 0.158);
}

.deleteBtn {
  padding: 4px 10px;
  background-color: #d55555;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.deleteBtn:hover {
  background-color: #e60000;
}
