.card {
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 15px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  min-height: 48px;
}

.description {
  font-size: 14px;
  color: #555;
  flex-grow: 1;
  min-height: 60px;
}

.price {
  font-size: 18px;
  font-weight: 600;
  margin-top: auto;
}

.btn {
  background-color: rgba(36, 24, 8, 0.765);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 12px;
  width: 100%;
}

.btn:hover {
  background-color: rgb(36, 24, 8);
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.btn:active {
  transform: translateY(0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
