.container {
  max-width: 400px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  padding: 8px;
  background-color: rgba(36, 24, 8, 0.765);
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.02);
  background-color: rgb(36, 24, 8);
}

.input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.error {
  color: red;
  font-weight: bold;
}


.error {
  color: red;
  font-weight: bold;
}
