:root {
  --background: #ffffff;
  --foreground: rgb(36, 24, 8);

  --container-max-width: 1280px;
  --spacing-horizontal: 64px;
  --spacing-vertical: 32px;

  --font-poppins: "Poppins", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
  html {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  font-family: var(--font-poppins);
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.layout-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-main {
  flex: 1; 
}

.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding-left: var(--spacing-horizontal);
  padding-right: var(--spacing-horizontal);
  width: 100%;
}

.section {
  padding-top: var(--spacing-vertical);
  padding-bottom: var(--spacing-vertical);
}

.category-title {
  font-size: 28px;
  margin-bottom: 25px;
}